@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(https://wallpaperaccess.com/full/8625.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.title{
    @apply text-5xl font-light tracking-widest my-2 mx-4 cursor-pointer
}

.nav{
    @apply flex lg:flex-row md:flex-row sm:flex-col align-middle justify-between border p-3 bg-gradient-to-l from-purple-100 shadow-md backdrop-blur-lg
}

.navform{
    @apply flex align-middle justify-between 
}
.btn{
    @apply shadow bg-purple-500 hover:bg-purple-400 focus:outline-none text-white font-bold py-2 px-4 rounded
}
.search{
    @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 m-auto mx-2
}
.pokemonPage{
    @apply p-6 bg-gradient-to-br from-purple-50 w-full
}

.heading{
    @apply lg:text-5xl md:text-4xl sm:text-3xl font-light text-center mb-5
}

.heading3{
    @apply lg:text-2xl md:text-xl sm:text-base font-bold text-center mb-5    

}
.pokemonList{
    @apply grid lg:grid-cols-5 md:grid-cols-3 sm:grid-cols-2 gap-5 justify-center 
}

.card{
    @apply border rounded-md shadow text-center w-auto min-h-fit backdrop-blur
}